<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <p>
          <br />
          We provide a range of services related to food products development and food safety to companies and individuals in Croatia and surrounding countries. <br /> <br />
          You can contact us over <a href="https://www.linkedin.com/company/alitudo-s/">LinkedIn</a> </p> or physically at: <br />
          <b> Alitudo S d.o.o. </b> <br />
          Stjepana Gradića 19 <br />
          10010 Zagreb <br />
          Croatia, EU <br />
          <br />
          VAT number: HR98028734047
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
